@use "../../foundation/variables" as *;

.c-section-heading {
  font-family: $font-ja;
  font-weight: 700;
  font-size: 3.2rem; // 暫定
  line-height: 1.5;

  &::before {
    content: "";
    display: block;
    width: 1em;
    height: 0.4rem;
    background: $color-text;
    margin-bottom: 1.6rem; // 暫定
  }
}
